@import "tailwindcss";

:root {
  --background: #FEFEFE;
  --foreground: #211C37;
  --primary: #CFAB8D;
  --primaryDark: #997356;
  --primarylight: #f9dac0;
  --card: #FEFEFE;
  --primary-foreground: #ffffff;
  --faded: #e1ddda;
  --secondary: #99d9ea;
  --secondary-dark: #697a87;
  --destructive: #f47b7b;
  --tertiary: #FFF2E5;
  --chatbg: #f3e3d5;
}

*{
  /* border: none;
  outline: none; */
}

@theme inline {
  --color-primaryDark: var(--primaryDark);
  --color-chatbg: var(--chatbg);
  --color-destructive: var(--destructive);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primarylight: var(--primarylight);
  --color-secondary: var(--secondary);
  --color-aasd:  var(--background);
  --color-card: var(--card);
  --primary-foreground: var(--primary-foreground);
  --color-chat-bubble-user: var(--primary);
  --color-chat-bubble-ai: var(--chat-bubble-ai);
  --color-primary-input: var(--primary-input);
  --color-faded: var(--faded);
  --color-upload-border: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-chat-bubble-ai: var(--primary);
  --color-chat-bubble-user: var(--primarylight);
  --color-tertiary: var(--tertiary);
}

.border {
  border: 1px solid var(--primary);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background-noise::before {
    content: "";
    background-color: transparent;
    background-image: url("/assets/noise.svg");
    background-repeat: repeat;
    background-size: auto;
    /* background-position: center; */
    opacity: 1; 
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.aasd{
  background: var(--background);
}

.background-noise {
  position: relative;
  overflow: hidden;
  display: flex;
  @apply bg-gradient-to-b from-background to-secondary;
}

.blurglass {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.33);
}

.markdown p {
  margin-bottom: 1.5rem; /* bigger gap between paragraphs */
  line-height: 1.8;
}

.markdown ul li {
  list-style-type: disc;
  margin-bottom: 1 px;
  margin-left: 1rem;
}

.markdown ol li {
  list-style-type: decimal;
  margin-bottom: 1 px;
  margin-left: 1rem;
}

.markdown p {
  margin: 1px 0;
}
